<div class="col-lg-4 col-md-6">
    <div class="room-1-block  h-100 wow fadeInUp p-3" data-wow-delay=".2s" data-wow-duration=".8s">
        <div class="room-1-image hvr-img-zoom-1" style="height: 300px; overflow: hidden;">
            <img src="@PhotoUrl" alt="@Name" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="room-1-content d-flex flex-column" style="height: calc(100% - 300px);">
            <h4 class="room-1-title mb_20 pt_20">@Name</h4>
            <p class="room-1-text mb_30" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;">@Description</p>
            <div class="d-flex align-items-center">
                <span class="me-2 h5">Цена:</span>
                <span class="me-2 h5">@Price Р</span>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string Price { get; set; }
    [Parameter] public string PhotoUrl { get; set; }
}
