@page "/"
@inherits HomeViewModel

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


<Banner />

<div></div>
@* 
<FilterComponent /> *@

@if(response != null)
{
    <MuseumEventListComponent MuseumEventList="response" />
}



