@page "/booking-hail"

<PageTitle>Бронирование залов музея</PageTitle>

<div class="page-title" style="background-image: url(assets/images/background/booking-hail-page-title-1.jpg); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="auto-container">
        <h1>Бронирование залов</h1>
    </div>
</div>

<section class="pt_60">
    <div class="auto-container">
        <div class="section_heading text-center">
            <span class="section_heading_title_small">Наши залы</span>
            <h2 class="section_heading_title_big mb_20">
                Пространства для ваших мероприятий
            </h2>
            <p class="mb_60">В нашем музее вы можете арендовать уникальные залы для проведения мероприятий любого масштаба - от лекций и презентаций до торжественных приемов. Каждый зал обладает особой атмосферой и современным оборудованием.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="amenities-1-block">
                    <div class="amenities-1-image hvr-img-zoom-1"><img src="assets/images/resource/booking-hail-1.webp" alt="Главный зал"></div>
                    <div class="amenities-1-content">
                        <p class="fw_medium theme-color mb_5">ОСНОВНОЙ ЗАЛ</p>
                        <h4 class="mb_10">Главный выставочный зал</h4>
                        <p>Просторное помещение 250 кв.м. с естественным освещением, идеально подходит для крупных мероприятий, выставок и конференций. Вместимость до 150 человек.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="amenities-1-block">
                    <div class="amenities-1-image hvr-img-zoom-1"><img src="assets/images/resource/booking-hail-2.webp" alt="Конференц-зал"></div>
                    <div class="amenities-1-content">
                        <p class="fw_medium theme-color mb_5">ДЛЯ ПЕРЕГОВОРОВ</p>
                        <h4 class="mb_10">Конференц-зал</h4>
                        <p>Современное оборудование для презентаций, комфортные кресла и акустика. Вместимость до 30 человек. Идеально для деловых встреч и семинаров.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="amenities-1-block">
                    <div class="amenities-1-image hvr-img-zoom-1"><img src="assets/images/resource/booking-hail-3.webp" alt="Лекторий"></div>
                    <div class="amenities-1-content">
                        <p class="fw_medium theme-color mb_5">ОБРАЗОВАНИЕ</p>
                        <h4 class="mb_10">Лекторий</h4>
                        <p>Амфитеатр с удобными местами и профессиональным мультимедийным оборудованием. Вместимость 80 человек. Отлично подходит для лекций и кинопоказов.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="amenities-1-block">
                    <div class="amenities-1-image hvr-img-zoom-1"><img src="assets/images/resource/booking-hail-4.webp" alt="Камерный зал"></div>
                    <div class="amenities-1-content">
                        <p class="fw_medium theme-color mb_5">ДЛЯ ТОРЖЕСТВ</p>
                        <h4 class="mb_10">Камерный зал</h4>
                        <p>Уютное пространство с изысканным интерьером для приемов и небольших мероприятий. Вместимость до 50 человек. Имеется кухня для кейтеринга.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt_20 pb_60 bg-light">
    <div class="auto-container">
        <div class="section_heading text-center mb-5">
            <span class="section_heading_title_small">Контакты</span>
            <h2 class="section_heading_title_big">Как забронировать зал</h2>
        </div>

        <div class="d-flex flex-column flex-lg-row align-items-center align-items-lg-start justify-content-between gap-5 p-4 p-lg-5 bg-white rounded shadow-sm">
            <ul class="contact-info-1 d-flex flex-column flex-md-row flex-wrap gap-4 gap-md-5 mb-0">
                <li class="d-flex flex-column align-items-center align-items-md-start">
                    <div class="d-flex align-items-center mb-2">
                        <h4 class="fs_20 mb_10"><i class="icon-27 mr_10 fs_18"></i>Адрес</h4>
                    </div>
                    <p class="mb-0 text-center text-md-start">г. Москва, ул. Музейная, д. 15</p>
                </li>
                <li class="d-flex flex-column align-items-center align-items-md-start">
                    <div class="d-flex align-items-center mb-2">
                        <h4 class="fs_20 mb_10"><i class="icon-28 mr_10 fs_18"></i>Телефон</h4>
                    </div>
                    <p class="mb-0"><a href="tel:+74951234567" class="text-decoration-none">+7 (495) 123-45-67</a></p>
                </li>
                <li class="d-flex flex-column align-items-center align-items-md-start">
                    <div class="d-flex align-items-center mb-2">
                        <h4 class="fs_20 mb_10"><i class="icon-29 mr_10 fs_15"></i>Email</h4>
                    </div>
                    <p class="mb-0"><a href="mailto:booking@museum.ru" class="text-decoration-none">booking@museum.ru</a></p>
                </li>
            </ul>

            <div class="text-center text-lg-start" style="max-width: 500px;">
                <p class="lead mb-0">Для бронирования зала свяжитесь с нами по указанным контактам. Наш администратор поможет вам выбрать подходящую дату и расскажет об условиях аренды.</p>
            </div>
        </div>
    </div>
</section>