<footer class="main-footer">
        <div class="footer-1-middle">
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="contact-widget-1 mb_30">
                            <div class="footer-widget-title"><h4>Общие сведения</h4></div>
                            <ul class="contact-widget-1-list">
                            <li><span>Юридический адрес:</span>420111, г. Казань, ул. Кремлёвская, 2</li>
                            <li><span>Почта:</span><a href="mailto:mkrt@tatar.ru">mkrt@tatar.ru</a></li>
                            <li><span>Телефон:</span><a href="tel:3336660000">+7(843)264-74-01</a></li>
                            </ul>
                            <ul class="footer-social-icon d-flex align-items-center">
                                <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="link-widget-1 mb_30">
                            <div class="footer-widget-title"><h4>Links</h4></div>
                            <ul class="link-widget-1-list">
                                <li><a href="javascript:void(0);">About Us</a></li>
                                <li><a href="javascript:void(0);">Services</a></li>
                                <li><a href="javascript:void(0);">Case</a></li>
                                <li><a href="javascript:void(0);">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="link-widget-1 mb_30">
                        <div class="footer-widget-title"><h4>Режим работы</h4></div>
                            <p class="mb_25">
                            Понедельник<br />
                            10.00-18.00, касса до 17.00<br />
                            Вторник-суббота<br />
                            10.00-20.00, касса до 19.00<br />
                            Воскресенье<br />
                            10.00-18.00, касса до 17.00
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="about-widget-1 mb_30">
                        <div class="footer-widget-title"><h4>Почтовая рассылка</h4></div>
                            <div class="about-widget-1-text">
                            <p class="mb_30">Подпишитесь на нашу рассылку и получайте новости о последних мероприятиях НМРТ первыми.</p>
                                <div class="footer-newsletter">
                                    <form>
                                        <input type="email" placeholder="Email address">
                                        <button class="btn-1">Подписаться <span></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="auto-container">    
                <div class="footer-bottom-row">
                    <div class="footer-bottom-text">Copyright 2022 by <a href="javascript:void(0);">royalking</a> theme All Right Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
	


