@inherits LayoutComponentBase


<div class="page-wrapper">

    @* <div class="loader-wrap"> *@
    @*     <div class="preloader"><div class="preloader-close">Preloader Close</div></div> *@
    @*     <div class="layer layer-one"><span class="overlay"></span></div> *@
    @*     <div class="layer layer-two"><span class="overlay"></span></div>         *@
    @*     <div class="layer layer-three"><span class="overlay"></span></div>         *@
    @* </div> *@
    <MuseumNavMenu />

    @Body

</div>




<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
