<section class="banner-section">


    <!-- Основной контейнер баннера -->
    <div class="banner-container">

        <!-- Декоративный круг (если нужен) -->
        <div class="banner-shape-1"></div>
        <!-- Фоновое изображение (только на больших экранах) -->
        <div class="banner-feature-image d-none d-lg-block" 
            style="background-image: url(/assets/images/main-slider/banner-5.jpeg);">
        </div>

        <!-- Контент -->
        <div class="banner-content">
            <div class="content-inner">
                <div class="banner-subtitle">Кремлевская 35</div>
                <h1 class="banner-title">
                    Национальный музей <br>
                    Республики <br>
                    Татарстан.
                </h1>
                <p class="banner-text">Национальный музей Республики Татарстан (Постановлением Кабинета Министров РТ от 23 марта 2001 года).</p>
                <div class="banner-actions">
                    <a href="/museum-events" class="btn-1">Мероприятия<span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>