<section class="banner-section">
    <!-- Декоративный круг (если нужен) -->
    <div class="banner-shape-1"></div>

    <!-- Основной контейнер баннера -->
    <div class="banner-container">
        <!-- Фоновое изображение (только на больших экранах) -->
        <div class="banner-feature-image d-none d-lg-block" style="background-image: url(/assets/images/main-slider/banner-1.webp);"></div>

        <!-- Контент -->
        <div class="banner-content">
            <div class="content-inner">
                <h4 class="banner-subtitle">Кремлевская 35</h4>
                <h1 class="banner-title">
                    Национальный музей <br>
                    Республики <br>
                    Татарстан.
                </h1>
                <p class="banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit <br> Turpis ridiculus tellus.</p>
                <div class="banner-actions">
                    <a href="room-1.html" class="btn-1">Book Room <span></span></a>
                </div>
            </div>
        </div>
    </div>
</section>