<section class="banner-section style-three">
    <div class="banner-shape-1"></div>
    <div class="swiper-container banner-slider-2">
        <div class="swiper-wrapper">
            <!-- Slide Item -->
            <div class="swiper-slide">
                <div class="banner-feature-image d-none d-lg-block" style="background-image: url(assets/images/main-slider/banner-3.jpg);"></div>
                <div class="content-outer">
                    <div class="content-box">
                        <div class="inner">
                            <h4>Summer Vacations</h4>
                            <h1>
                                Luxury <br>
                                Hotel For <br>
                                Vacation.
                            </h1>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit <br> Turpis ridiculus tellus.</div>
                            <div class="link-box">
                                <a href="room-1.html" class="btn-1">Book Room <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Item -->
            <div class="swiper-slide">
                <div class="banner-feature-image d-none d-lg-block" style="background-image: url(assets/images/main-slider/banner-3.jpg);"></div>
                <div class="content-outer">
                    <div class="content-box">
                        <div class="inner">
                            <h4>Summer Vacations</h4>
                            <h1>
                                Your <br> Home For <br>
                                Vacation.
                            </h1>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit <br> Turpis ridiculus tellus.</div>
                            <div class="link-box">
                                <a href="room-1.html" class="btn-1">Book Room <span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-slider-nav">
        <div class="banner-slider-control banner-slider-button-prev hvr-zoom-1 hvr-zoom-1-primary"><span><i class="icon-2"></i></span></div>
        <div class="banner-slider-control banner-slider-button-next hvr-zoom-1 hvr-zoom-1-primary"><span><i class="icon-3"></i></span> </div>
    </div>
</section>