@using Museum.Frontend.Infrastructure.Common
<div class="widget gray-bg p_40">
    <div class="d-flex align-items-center justify-content-between">
        <h4 class="mb_20">@EventTypeDefenition</h4>
        <h5 class="mb_20">@DateString</h5>
    </div>
</div>
@code {
    [Parameter]
    public DateTime StartDate { get; set; }
    [Parameter]
    public DateTime? EndDate { get; set; }

    [Parameter]
    public string EventTypeDefenition { get; set; } = string.Empty;

    public string DateString => EndDate.HasValue
    ? DateFormater.FormatDateRange(StartDate, EndDate.Value)
    : StartDate.ToString("dd MMMM");

}
